.root {
  position: absolute;
}

.inner {
  border: 2px solid rgba(0, 0, 0, 0.2);
  background: #fff;
  margin: auto;
  overflow: hidden;
}

.male {
  height: 80px;
  width: 80px;
  margin-top: 60px;
}

.female {
  height: 90px;
  width: 90px;
  margin-top: 55px;
  border-radius: 45px;
}

.isRoot {
  border-color: rgba(0, 0, 0, 0.4);
}

.rootTriangle {
  position: relative;
  left: 70px;
  width: 0;
  height: 0;
  border-top: 20px solid orchid;
  border-left: 20px solid transparent;
}

.rootTriangleFemale {
  z-index: 5;
  top: -16px;
  left: 78px;
}

.container {
  width: 100%;
}

.text {
  display: table;
  margin: 0 auto;
  background-color: #fff;
}

.line {
  position: relative;
  top: -40px;
  z-index: 2;
  height: 0px;
  margin: 0px auto;
  width: 111px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.lineFemale {
  top: -45px;
}

.brainCircle {
  position: relative;
  z-index: 3;
  width: 20px;
  height: 20px;
  margin: 28px auto;
  background: green;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.female .brainCircle {
  margin-top: 34px;
}

.pancreasSquare {
  position: relative;
  z-index: 3;
  width: 20px;
  height: 20px;
  margin: 28px auto;
  background: orange;
}

.female .pancreasSquare {
  margin: 33px auto;
}

.thyroidSquare {
  position: relative;
  z-index: 3;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: 39px;
  background: red;
}

.female .thyroidSquare {
  width: 45px;
  height: 45px;
  margin: 44px;
}

.breastSquare {
  position: relative;
  z-index: 3;
  width: 40px;
  height: 40px;
  margin: -1px;
  background: blue;
}

.female .breastSquare {
  width: 45px;
  height: 45px;
}

.ovarySquare {
  position: relative;
  z-index: 3;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: 37px -1px;
  background: orchid;
}

.female .ovarySquare {
  width: 45px;
  height: 45px;
  margin: 42px -1px;
}

.lungSquare {
  position: relative;
  z-index: 3;
  bottom: 0;
  width: 20px;
  height: 20px;
  margin: 17px 17px;
  background: black;
}

.female .lungSquare {
  margin: 22px 22px;
}

/* .sub {
  position: absolute;
  top: 6px;
  right: 14px;
  width: 14px;
  height: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px 0;
  background: #fff;
  cursor: pointer;
}

.sub.male {
  background: #fdaed8;
}

.sub.female {
  background: #a4ecff;
} */
