.root {
  position: absolute;
  /* display: flex; */
}

.inner {
  border: 2px solid rgba(0, 0, 0, 0.2);
  background: #fff;
  margin: auto;
}

.male {
  height: 80px;
  width: 80px;
  margin-top: 60px;
}

.female {
  height: 90px;
  width: 90px;
  margin-top: 55px;
  border-radius: 45px;
}

.isRoot {
  border-color: rgba(0, 0, 0, 0.4);
}
.container {
  width: 100%;
}

.text {
  display: table;
  margin: 0 auto;
  background-color: #fff;
}

.sub {
  position: absolute;
  top: 6px;
  right: 14px;
  width: 14px;
  height: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px 0;
  background: #fff;
  cursor: pointer;
}

.sub.male {
  background: #fdaed8;
}

.sub.female {
  background: #a4ecff;
}
